#### 1.Write a python code to get the current date and time use split function to store data in variable "DATE" and time in variable "TIME"

In [17]:
from datetime import date,datetime
DATE=date.today()
now=datetime.now()
TIME=now.strftime("%H:%M:%S")
print("Current Date is: ",DATE)
print("Current Time is: ",TIME)

Current Date is:  2023-03-27
Current Time is:  18:47:52

#### 2.How Can You Check Wheather Pandas Dataframe is Empty or not

In [46]:
#check if DataFrame is empty and return output
import pandas as pd
df=pd.DataFrame([{"A":1,"B":2,"C":3}])
if len(df.index) == 0:
    print('df is empty')
else:
    print('df is not empty')

df is not empty

In [47]:
df

   A  B  C
0  1  2  3

##### Dataframe is empty'

In [49]:
import pandas as pd
df2=pd.DataFrame([])
if len(df2.index) == 0:
    print('DataFrame is empty')
else:
    print('Dataframe is not empty')

DataFrame is empty

In [51]:
df2

Empty DataFrame
Columns: []
Index: []

In [ ]:
##### 3. Write the python code to create the dataframe given below

##### We Create Dataframe

In [59]:
import pandas as pd
df=pd.DataFrame([{"Name":"Jai","Age":"24","Address":"Delhi","Qualification":"Msc"},
                 {"Name":"Princi","Age":"27","Address":"Kanpur","Qualification":"MA"},
                 {"Name":"Gaurav","Age":"22","Address":"Allahabad","Qualification":"MCA"},
                 {"Name":"Anuj","Age":"32","Address":"Kannauj","Qualification":"Phd"},
                 {"Name":"Geeku","Age":"15","Address":"Noida","Qualification":"10"},
                 {"Name":"Vishnu","Age":"18","Address":"Noida","Qualification":"BCA"}])

In [60]:
df

     Name Age    Address Qualification
0     Jai  24      Delhi           Msc
1  Princi  27     Kanpur            MA
2  Gaurav  22  Allahabad           MCA
3    Anuj  32    Kannauj           Phd
4   Geeku  15      Noida            10
5  Vishnu  18      Noida           BCA

#### >i Write the code to filter the data where age is between 20 to 30.

In [66]:

df3=df.loc[(df['Age']==18)]
df3

Empty DataFrame
Columns: [Name, Age, Address, Qualification]
Index: []

options = ['Commerce', 'Science'] 
   
# selecting rows based on condition 
rslt_df = dataframe.loc[(dataframe['Age'] == 22) & 
              dataframe['Stream'].isin(options)] 
    
print('\nResult dataframe :\n',
      rslt_df